body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    #game_container {
        position: relative;
        width: 800px;
        height: 800px;
    }
}
