body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 20, 30);
    transition: 0.5s;

    &.paused {
        transition: 1s;
        background-color: #0b0b0a;
    }

    #game_container {
        position: relative;
        width: 800px;
        height: 800px;
    }
}
