.score-section {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    padding: 8px;

    text-align: right;
    font-size: 2em;
    color: gray;
    font-family: monospace;
    user-select: none;

    transition: 0.5s;

    .actual-score {
        color: white;
    }

    .dummy-score {
        transition: 0.5s;
    }

    .paused & {
        filter: sepia(80%) brightness(0.8);
        transition: 1s;

        .dummy-score {
            filter: brightness(0.5) blur(1px);
            transition: 1s;
        }
    }
}